@import 'tailwindcss';

@theme {
	--color-background: #111312;
	--color-foreground: #f0f0f0;
	--color-border: #313b3b;
	--color-muted: #a1b0b0;
	--font-mono: 'JetBrains Mono', monospace;
	--font-sans: 'Inter', sans-serif;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/InterVariable.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	display: flex;
	background-color: var(--color-background);
	justify-content: center;
	align-items: center;
}

body {
	border-left: var(--color-border) 1px solid;
	border-right: var(--color-border) 1px solid;
	color: var(--color-foreground);
	@apply mx-6 max-w-5xl 
}

h1 {
	font-family: 'JetBrains Mono', monospace;
	@apply text-4xl font-extrabold ;
}

h2 {
	@apply text-3xl font-bold;
}

h3 {
	@apply text-base;
}

p {
	@apply text-muted font-normal text-sm;
}

a {
	text-decoration: none;
	font-weight: 500;
}
